{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<span class="navbar-text me-3">
    {{ app.user.email }}
</span>
<a href="{{ path('app_logout') }}">
  <span class="">
      logout
  </span>
</a>
{% else %}
<a class="me-3" href="{{ path('app_login') }}">
  <span class="">
      login
  </span>
</a>
<a href="{{ path('app_register') }}">
  <span class="">
      register
  </span>
</a>
{% endif %}