<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin panel{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap-5.3.3-dist/css/bootstrap.min.css"/>            
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% include 'admin-menu.html.twig' %}
            {% include controller_template %}
        </div>
    </body>
</html>
