<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marcian stories{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap-5.3.3-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% include 'menu.html.twig' %}
            <!-- {% include 'blocks/stimulus.html.twig' %} -->
            {% include controller_template %}
        </div>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    </body>
</html>
