{% block body %}

<div class="container">
    <h1>{{ article.name }}</h1>
    <div class="short-description my-2">
        {{ article.shortDescription }}
    </div>
    <div>
        <a class="btn btn-primary my-2" href="/admin/article/edit/{{ article.id }}" role="button">Edit</a>
    </div>
</div>
{% endblock %}
