{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Create new Article</h1>

    Fill form bellow to create new article
    <form>
        This is a form
    </form>
</div>
{% endblock %}
